$width_site: 1140px;
$color-site: #afa;

* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: $width_site;
    margin: 0 auto;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #444;
}

/* Прижатие подвала к полу */
.wrap {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    &_top {
        flex-grow: 1;
    }
}

/* Заголовок */
.header {
    height: 100px;
    background-color: $color-site + #222;
}

/* Тело */
.nav {
    background-color: $color-site + #333;
    .menu {
        display: flex;
        justify-content: start;
        &_list {
            list-style-type: none;
        }
        &_link {
            margin: 10px 1px;
            padding: 10px 5px;
            text-decoration: none;
            display: block;
        }
    }
}
.content {
    background-color: $color-site + #111;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &_item {
        background-color: $color-site - #222;
        width: $width_site / 3;
        height: 200px;
        margin: 10px 0;
        box-sizing: border-box;
        border: 1px solid #111;
        padding: 10px;
    }
}

/* Подвал */
.footer {
    height: 100px;
    background-color: $color-site + #222;
}
